body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #FFFAE6 25%, #FFFFFF 60%, #FFFAE6 100%);
  font-family: 'KCCImkwontaek', sans-serif; /* KCCImkwontaek 폰트 적용 */
  color: #000;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin: 0;
}

.title {
  font-size: 80px;
  color: #FFADAD;
  white-space: pre-line;
  margin-bottom: 2rem;
  line-height: 1.1;
  text-decoration: none; /* 밑줄 제거 */
  font-weight: normal; /* 글자 굵기 */
}

.title:hover {
  color: #FF7F7F; /* 마우스를 올렸을 때 색상 변경 */
}

.menu {
  font-size: 20px;
  font-family: 'YDYGO100', sans-serif;
  color: #505050;
}

.main-menu {
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-weight: bold; /* 메인 메뉴 글자 두껍게 */
  transition: transform 0.2s ease; /* 눌렀을 때 살짝 움직이는 효과 */
}

.main-menu:active {
  transform: scale(0.98); /* 클릭 시 살짝 크기 축소 */
}

.sub-menu {
  margin-left: 1rem;
  display: none;
  line-height: 1.6;
  font-size: 18px; /* 하위 메뉴 글자 크기 살짝 작게 */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease; /* 하위 메뉴 부드럽게 나타나도록 */
}

.sub-menu.show {
  display: block;
  opacity: 1;
  max-height: 500px; /* 적당한 크기로 변경 */
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 20px;
  font-family: 'YDYGO100', sans-serif;
  color: #7B7B7B;
}
